* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    font-size: larger;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Courier New', Courier, monospace;
}

section {
    padding: 80px clamp(0.625rem, -2.332rem + 14.83vw, 12.5rem);
    /* (10,200) */
}

.hero {
    height: 98vh;
    width: 100%;
    background-color: #F3EED9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1,
.mid1 h1 {
    color: #824936;
}

.mid1 h1 {
    text-align: center;
}

.mid1-in-desc {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    align-items: center;
}

.mid1-in-desc p {
    text-wrap-style: pretty;
    width: clamp(18.75rem, 14.703rem + 20.3vw, 35rem);
}

.mid2,
.mid3 {
    display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mid2 {
    background-color: #222C2A;
}

.mid3 {
    background-color: #824936;
}

.mid2 h1,
.mid3 h1 {
    color: #F3EED9;
}

.mid2 p,
.mid3 p {
    color: white;
    max-width: 600px;
}
img{
    width: 100%;
}

::-webkit-scrollbar{
    background-color:#F3EED9;
    border: 1px solid black;
}
::-webkit-scrollbar-thumb{
    background-color: #824936;
    border: 1px solid black;
}